.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 45px 24px;
  gap: 16px;
}
.header__logo {
  width: 2vw;
  min-width: 80px;
}

.header__nav-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0;
}
.header__nav-link {
  text-decoration: none;
  color: var(--white-col);
  white-space: nowrap;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}
.hero__image {
  margin-bottom: 32px;
  min-width: 320px;
}
.hero__title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}
.hero__description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 28px;
}
.hero__button {
  font-weight: bold;
  background-color: var(--cyan-color);
  color: var(--white-col);
  padding: 0.725rem 5rem;
  border-radius: 30px;
  margin-top: 16px;
  text-decoration: none;
  display: block;
  width: fit-content;
  margin-inline: auto;
}
.benefits {
  margin-top: 120px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 88px;
  max-width: 880px;
  margin-inline: auto;
}
.benefit {
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
}
.benefit__image {
  height: 68px;
  width: 68px;
  object-fit: contain;
  margin-bottom: 28px;
  margin-inline: auto;
}
.benefit__title {
  margin-bottom: 8px;
}
.benefits__list {
  list-style-type: none;
  display: contents;
}
.main {
  padding: 0 24px;
}
@media screen and (min-width: 1440px) {
  .header {
    padding: 54px 80px 64px 64px;
  }
  .header__logo {
    width: 180px;
  }
  .header__nav-list {
    gap: 48px;
  }
}
