.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 45px 24px;
  gap: 16px;
}
.header__logo {
  width: 2vw;
  min-width: 80px;
}

.header__nav-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0;
}
.header__nav-link {
  text-decoration: none;
  color: var(--white-col);
  white-space: nowrap;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 24px;
  max-width: 768px;
  margin-inline: auto;
}
.hero__image {
  margin-bottom: 32px;
  width: 100%;
}
.hero__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}
.hero__description {
  font-size: 16px;
  margin-bottom: 28px;
}
.hero__button {
  font-weight: bold;
  background-color: var(--cyan-color);
  color: var(--white-col);
  padding: 0.725rem 24px;
  border-radius: 30px;
  margin-top: 16px;
  text-decoration: none;
  min-width: 200px;
  text-align: center;
  display: block;
  width: fit-content;
  margin-inline: auto;
}
.benefits {
  margin-top: 120px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 88px;
  max-width: 880px;
  margin-inline: auto;
}
.benefit {
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
}
.benefit__image {
  height: 68px;
  width: 68px;
  object-fit: contain;
  margin-bottom: 28px;
  margin-inline: auto;
}
.benefit__title {
  margin-bottom: 8px;
}
.benefits__list {
  list-style-type: none;
  display: contents;
}

.testimonials {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  gap: 24px;
}
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: var(--dark-blue-4);
}
.testimonial__quote {
  margin: 20px 24px;
}
.testimonial__quote-icon {
  max-width: 25px;
  max-height: 25px;
  position: absolute;
  margin: -15px 0 0 8px;
}
.testimonial__footer {
  display: grid;
  grid-template-columns: 32px 1fr;
  margin: 0 0 24px 20px;
  gap: 0 8px;
}
.testimonial__author-image {
  border-radius: 50%;
  grid-row: span 2;
}
.testimonial__author-name {
  font-weight: 700;
}
.testimonials__list {
  list-style-type: none;
  display: contents;
}
.main {
  padding: 0 24px;
}
.productivity {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 42px;
  column-gap: 90px;
}
.productivity__content {
  text-align: left;
}
.productivity__title {
  font-size: 1.25rem;
  margin-bottom: 16px;
}
.productivity__text {
  margin-bottom: 18px;
}
.productivity__image {
  width: 100%;
  max-width: 300px;
}
.productivity__link {
  display: inline-flex;
  color: var(--cyan-color);
  text-decoration: none;
  border-bottom: 1px solid var(--cyan-color);
  align-items: center;
  gap: 6px;
}
@media screen and (min-width: 1440px) {
  .header {
    padding: 54px 80px 64px 64px;
  }
  .header__logo {
    width: 180px;
  }
  .header__nav-list {
    gap: 48px;
  }
  .productivity {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .productivity__image {
    max-width: 630px;
  }
  .productivity__content {
    max-width: 630px;
  }
  .productivity__title {
    font-size: 2.5rem;
  }
  .testimonial__quote-icon {
    margin: -15px 0 0 0px;
  }
}
