.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 45px 24px;
}
.header__logo {
  min-width: 150px;
}
@media screen and (min-width: 1440px) {
  .header {
    padding: 54px 80px 64px 64px;
  }
}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 0;
  padding: 0;
}
.header__nav-list {
  list-style-type: none;
  display: flex;
  gap: 48px;
}
.header__nav-link {
  text-decoration: none;
  color: var(--white-col);
  white-space: nowrap;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 88px 358px 154px 358px;
}
.hero__content {
}
.hero__title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  color: var(--white-col);
}
.hero__description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--white-col);
}
.hero__cta {
  background-color: var(--blue-col);
  color: var(--white-col);
  padding: 16px 32px;
  border-radius: 50px;
}
